<style>
			.header{
			background-color:#e3b473;color: #fff !important; font-weight: bold; padding: 10px; font-family:Arial; font-size: 20px;
			}
			.td{
			padding:10px;width:250px;background-color:#f4e2ca;
			}
			.td1{
			padding:10px;
			}
		    </style>
			<table width="100%" border="0" style="margin:0px;padding:0px;" align="center" cellspacing="0" cellpadding="0">
	            <tbody>
		            <tr>
			            <td align="center" style="margin: 0px; padding: 35px 0px;">
			            <!-- Header -->
				            <table width="100%;" border="0" bgcolor="#698291" align="center" cellspacing="0" cellpadding="0" class="header" style="font-family: Georgia, serif;">
					            <tbody>
						            <tr>
							            <td style="background:linear-gradient(45deg, #689DC9 0%, #335281 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); height: 65px;" align="center">
							                <h1 style="color: rgb(255, 255, 255) ! important; font: 20px/10px Georgia,serif; padding: 0px;">LEARNING MANAGEMENT SYSTEM</h1>
							                <p style="color: rgb(223, 165, 117); padding: 0px;  font: 10px/5px Georgia,serif;">Your end-to-end training partner</p>
							            </td>
						            </tr>
					            </tbody>
				            </table>
				            <!-- End Header -->
				            <!-- Mail Content -->
			                <table width="100%" border="0" align="center" style="font-family: Georgia,serif; border: 1px solid  palegoldenrod;background:linear-gradient(to right, #FFFFFF 0%, #FFFFFF 50%, #E1E1E1 100%, #F6F6F6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);">
					            <tbody>
						            <tr>
							            <td width="14" style="font-size: 0px;">&nbsp;</td>
							            <td width="100%" valign="top"  align="left" class="content" style="font-family: Georgia, serif; padding: 0 0 10px;">
								            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="color: #505050; font: normal 15px Georgia, serif; margin: 0; padding: 0;">
									            <tbody>
									                <tr>
											            <td valign="top" align="center" style="padding: 25px 0px 5px;  font-family: Georgia,serif;">
												            <h3 style="color: #505050; font-weight: normal; margin: 0px; padding: 0px; font-style: italic; line-height: 13px; font-size: 17px; text-align: left;">Dear <b style="color:black;"> 		#SUPNAME#</b>,</h3><br><br><p style="text-align: left;">Greetings!!!!!!</p><br><br>
												            <div>we are happy to present you the learning percentage of your reportee, who have attended the program <b>#EVENT_NAME#</b> from <b>#FROM_DATE#</b> to <b>#TO_DATE#</b></div>
												            <br />
												            <div>You are requested to monitor the progress of the employee and provide us the feedback on the implementation of the same... </div>
											            </td>
										            </tr> 
										            <tr>
											            <td valign="top" style="padding: 0; margin: 0;">
												            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="color: #505050; font: 12px Arial,helvetica, sans-serif; margin: 0; padding: 0;">	
													            <tbody>
														            <tr>
															            <td align="left" style="padding: 25px 0 0;">
																            <h2 style="color: #1B3E6C !important; font-weight: normal; margin: 0px; padding: 0px; font-style: italic;  font-family:Arial; font-size: 20px;"><u>Event Details</u></h2>
															             </td>
														            </tr>
														            <tr>
															            <td align="left" valign="top" style="padding-top: 10px;">
														                    <table align="center" border="1" style="padding:3px;" cellspacing="0" cellpadding="0" id="employeesTable" style="width:70%;">
														                        <tr>
														                            <td style="padding:3px;" align="right"><b>Program Name </b>&nbsp;</td><td style="padding:3px;">#PROG_NAME#</td>
														
														                            <td style="padding:3px;" align="right"><b>Event Start date </b>&nbsp;</td>
														                           <td style="padding:3px;">#EVENT_START#</td>
														
														                        </tr>
														                        <tr>
														                            <td style="padding:3px;" align="right"><b>Event Name </b>&nbsp;</td>
														                            <td style="padding:3px;">#EVENT_NAME#</td>
														                            <td style="padding:3px;" align="right"><b>Event End date </b>&nbsp;</td>
														                            <td style="padding:3px;">#EVENT_END#</td>
														                        </tr>
														                    </table>
														                    <br><br>
														                    <table align="center" border="1" cellspacing="0" cellpadding="0" id="employeesTable">
																			    <thead>
														                        <tr>
																				    <th style="padding:3px;"><b>S.No</b></th>
																					<th style="padding:3px;"><b>Employee No</b></th>
																					<th style="padding:3px;"><b>Employee Name</b></th>
																					<th style="padding:3px;"><b>Department</b></th>
																					<th style="padding:3px;"><b>Pre test<br />(Average)</b></th>
																					<th style="padding:3px;"><b>Post test<br />(Average)</b></th>
																					<th style="padding:3px;"><b>Difference</b></th>
																					<th style="padding:3px;"><b>Learning<br />(%)</b></th>
																					<th style="padding:3px;"><b>Scored High</b></th>
																					<th style="padding:3px;"><b>Scored Low</b></th>
																					<th style="padding:3px;"><b>Communication<br />(Speak/Write/Listen)</b></th>
																					<th style="padding:3px;"><b>Social Behaviour<br />(Colleagues/Trainer/Team)</b></th>
																					<th style="padding:3px;"><b>Personal behaviour<br />(Punctuality/Dressing/Etiquette)</b>
																					</th><th style="padding:3px; width: 25%;"><b>Areas to Nourish</b></th>
																					<th style="padding:3px; width: 25%;"><b>Areas to focus</b>
																					</th>
																				</tr>
																				</thead>
																			    <tbody>
																				    <tr style="border:1px solid #000;">
																					    <td style="padding:3px;">#X#</td><td style="padding:3px;">#EMP_NUMBER#</td>
																						<td style="padding:3px;">#FULL_NAME#</td><td style="padding:3px;">#ORG_NAME#</td><td style="padding:3px;">#PRE_SCORE#</td><td style="padding:3px;">#POS_SCORE#</td><td style="padding:3px;">#DIFF#</td><td style="padding:3px;">#VALUE#</td><td style="padding:3px;">#MAX_SCORE#(#MAX_SESS#)</td>
																						<td style="padding:3px;">#MIN_SCORE# (#MIN_SESS#)</td>
																						<td style="padding:3px;">#SPK# / #WRT# / #LIST#</td><td style="padding:3px;">#COLG#" / #TRA# / #TEAM#</td><td style="padding:3px;">#PUNC# / #DRES# / #ETIQ#</td><td style="padding:3px;">#NOURSH#</td><td style="padding:3px;">#FOCUS#</td>
																					</tr>
																				</tbody>
																			</table><br><br><br>
                                                                            <div style="font-weight: normal;font-size:16px;font-family: times, serif;">This notification is system generated and for information only. For any further queries, please contact Training Department.</div>
																	    </td>
														            </tr>
													            </tbody>
												            </table>
											            </td>
										            </tr>
										            <tr>
													    <td><br><b>&emsp;Regards,</b><br><h3> &emsp;L&D Team </h3>
													    </td>
													</tr>
									            </tbody>
								            </table>
							            </td>
							            <td width="16" style="font-size: 0px; font-family: Georgia, serif;">&nbsp;
										</td>
						            </tr>
					            </tbody>
				            </table>
				            <!-- End Mail Content -->
				        </td>
			        </tr>
		        </tbody>
	        </table>