<center>
<table align="center" bgcolor="#ededed" border="0" cellpadding="0" cellspacing="0" style="table-layout:fixed;margin:0 auto" width="100%">
	<tbody>
		<tr>
			<td align="center">
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="618">
				<tbody>
					<tr>
						<td style="border:8px solid white">
						<table align="left" border="0" cellpadding="0" cellspacing="0" style="border:2px solid #901e3a" width="610">
							<tbody>
								<tr>
									<td>
									<table border="0" cellpadding="0" cellspacing="0" width="608">
										<tbody>
											<tr>
												<td>
												<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #ffffff;border-radius:4px 4px 0 0" width="608">
													<tbody>
														<tr>
															<td height="15" style="font-size:0;line-height:0">&nbsp;</td>
														</tr>
														<tr>
															<td>
															<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="608">
																<tbody>
																	<tr>
																		<td width="20">&nbsp;</td>
																		<td>
																		<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td align="left" height="50" style="font-family:sans-serif;font-size:26px;font-weight:bold;line-height:110%;padding-left:20px;text-align:left" valign="middle" width="1000"><img align="top" alt="Logo Image" border="0" height="40" hspace="0" src="https://ci5.googleusercontent.com/proxy/hJTlbf6rX8XCMH4GfngsEDa4-KsKT4Q0FjdmU50fhwMwPNaEvZCAboMbwz2TQC-mjzsPKeYlS_a_82nMZyCznl3BY_tkiaFqEbNDwfPGwg8=s0-d-e1-ft#https://adani-power.n-compas.com/public/home/images/Adani.png" style="display:block" vspace="0" width="" class="CToWUd"></td>
																					<td align="right" height="50" style="color:#fff;font-family:sans-serif;font-size:26px;font-weight:bold;line-height:110%;padding-left:20px;text-align:right" valign="middle" width="260"><img align="left" alt="Logo Image" border="0" height="40" hspace="0" src="https://ci5.googleusercontent.com/proxy/T5QYLgSog2FLxbSrOirF-Zjy7xgj3hypTRYJElLVjSLYjLRZzXcpeBK9GAx6l4732Eo=s0-d-e1-ft#http://l-kurve.com/cil_logo.png" style="display:block" vspace="0" class="CToWUd"></td>
																				</tr>
																				<tr>
																					<td align="right" height="10" style="color:#7f8c9d;font-family:sans-serif;font-size:13px;line-height:190%;border-bottom:2px solid #901e3a;padding:5px;text-align:left" valign="middle" width="250">&nbsp;</td>
																					<td align="right" height="10" style="color:#7f8c9d;font-family:sans-serif;font-size:13px;line-height:190%;text-align:left;border-bottom:2px solid #901e3a;padding:5px" valign="middle" width="250">&nbsp;</td>
																				</tr>
																				<tr>
																					<td align="right" height="30" style="color:#7f8c9d;font-family:sans-serif;font-size:13px;line-height:190%;text-align:left" valign="middle" width="250">&nbsp;</td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																		<td width="20">&nbsp;</td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>

									<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #ffffff;border-radius:0 0 4px 4px" width="608">
										<tbody>
											<tr>
												<td>
												<table align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td>
															<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="608">
																<tbody>
																	<tr>
																		<td width="20">&nbsp;</td>
																		<td>
																		<p style="font-family:Bookman Old Style;font-size:14px">Greetings!</p>
																		
																		<p style="font-family:Bookman Old Style;font-size:14px">Dear #NAME#,</p>

																		<p align="justify" style="font-family:Bookman Old Style;font-size:12px">As you know the company has initiated a Competency-based TNI&A.  In this regard, a mail was sent to you a couple of days ago, along with the login credentials.</p>

																		<p align="justify" style="font-family:Bookman Old Style;font-size:12px">In order to ensure that we are able to complete this process and start the Training programs, we request you to kindly complete the same immediately.  Please use the following details for completing the same</p>

																		<p align="justify" style="font-family:Bookman Old Style;font-size:12px">Please login to <a href="https://adani-power.n-compas.com/index/login" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://adani-power.n-compas.com/index/login&amp;source=gmail&amp;ust=1625213016610000&amp;usg=AFQjCNEDxtJWKvmsP3na9aytZ7dl8MxqYQ">https://adani-power.n-compas.<wbr>com/index/login</a></p>

																		<p align="justify" style="font-family:Bookman Old Style;font-size:12px">Username:&nbsp;#USERNAME#</p>

																		<p align="justify" style="font-family:Bookman Old Style;font-size:12px">Password:&nbsp;#PASSWORD#</p>

																		<p align="justify" style="font-family:Bookman Old Style;font-size:12px">In case you have any questions, please reach out to your respective APTRI location head.</p>

																		<p align="justify" style="font-family:Bookman Old Style;font-size:12px">Wishing you a happy learning journey.</p>
																		&nbsp;

																		<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td>Regards,</td>
																				</tr>
																				<tr>
																					<td>Team N-Compas</td>
																				</tr>
																				<tr>
																					<td><a href="http://www.n-compas.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.n-compas.com&amp;source=gmail&amp;ust=1625213016610000&amp;usg=AFQjCNEsV-H7QYhTJ6E2huYVj6sWzaOiBw">www.n-compas.com</a></td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																		<td width="20">&nbsp;</td>
																	</tr>
																	<tr>
																		<td height="10" style="font-size:0;line-height:0">&nbsp;</td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
														<tr>
															<td style="font-size:0;line-height:0">&nbsp;</td>
														</tr>
													</tbody>
												</table>

												<table align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td>
															<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="608">
																<tbody>
																	<tr>
																		<td align="center">
																		<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-radius:4px 4px 4px 4px">
																			<tbody>
																				<tr>
																					<td width="20">&nbsp;</td>
																					<td width="20">&nbsp;</td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</center>